#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ButtonGrid {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  grid-gap: 5px 10px;
  justify-content: center;
  margin: 5px 0 10px 0;
}
