@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(221, 185, 185, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #862b2b;
}
.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: Helvetica;
  align-items: flex-start;
}
.btn-container {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Helvetica;
}
