/* @import url("https://fonts.cdnfonts.com/css/mother-tongue---personal-use?styles=57489");
@import url("https://fonts.cdnfonts.com/css/cookiemonster");
@import url("https://fonts.cdnfonts.com/css/honeybee-personal-use");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&family=Playwrite+PL:wght@100..400&display=swap"); */

@import url("https://fonts.cdnfonts.com/css/mother-tongue---personal-use?styles=57489");

.heading {
  font-family: "Mother Tongue - Personal Use", cursive;
  
  font-size: 8rem;
  color: #4b5563; /* example: gray-600 */
  margin-bottom: 2rem;
}
